
*
{
	background-position: center;
}
body {
  background: #333;
  color: #fff;
  font-family: 'Archivo Black', sans-serif;
  font-size: 3em;
  margin-top: 2.5em;
  margin-left: 16em;
  text-transform: uppercase;
  background-image: url(lo.jpg);
  background-size: cover;
    overflow: hidden;
  display: flex;
  text-align: center;

}

.heart {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.png");
transform-style: preserve-3d;
   text-align: center;
  font-size: 7vmin;
  animation: rot 4s linear infinite;
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  margin-top: 5.5em;
  margin-left: -0.8em;
  height: 75px;
  width: 75px;
  top: 15px;
  cursor: pointer;
  transition: all 1s;
}
.heart:hover
{
	transform: scale(2);
}
.heart__face {
  width: 50em;
  height: 50em;
  box-shadow: 2px 2px 2px 4px;
}
:nth-child(1) > .heart {
  top: 100%;
  left: 100%;
}
:nth-child(1) > .heart.heart__face {
  margin: -10.5em;
}
:nth-child(2) > .heart {
  top: calc(100% - 10.5em);
  left: calc(100% - 10.5em);
}

@keyframes rot {
  to {
    transform: rotateY(1turn);
  }
}
p
{
	color: black;
}
.Love
{
	text-align: top;
}
.li
{
text-align: top;
	display: inline-block;
	color: black;
}


.scene {
  flex: 1;
  perspective: 25em;
  background: #f8dafb;
}
.scene:nth-child(2) {
  background: #dafbf8;
}

[class*='heart'] {
  position: absolute;
}


